.input {
    $root: &;
    display: block;
    position: relative;

    input {
        width: 100%;
        color: $black;
        font-size: 16px;
        line-height: 1.2;
        border: 1px solid $black;
        padding: 4px 16px;
        outline: none;
        margin-bottom: 10px;

        &::placeholder {
            color: $gray;
            font-size: 16px;
        }
    }

    &__label {
        margin-bottom: 5px;
    }

}