mixin form(props)
    form.form&attributes(attributes)
        +input({ name: 'firstname', label: 'Имя', placeholder: 'Имя', required: true})
        +input({ name: 'lastname', label: 'Фамилия', placeholder: 'Фамилия', required: true})
        +input({ name: 'middlename', label: 'Отчество', placeholder: 'Отчество', required: true})
        +input({ name: 'callnumber', label: 'Телефон', placeholder: 'Телефон', required: true})
        +input({ name: 'email', label: 'E-mail', placeholder: 'E-mail', required: true})
        +input({ name: 'message', label: 'Сообщение', placeholder: 'Сообщение'})
        +form-button({ text: 'Отправить', disabled: true })